.portfolio {
  padding: 1rem;
}

form {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

form input {
  padding: 0.25rem 0.5rem;
  border: 1px solid #b3726e;
  background-color: #b3726e;
  color: black;
  border-radius: 5px;
  height: 26px;
}

form input::placeholder {
  color: rgb(82, 53, 53);
  font-style: italic;
}

form button {
  border: none;
  background-color: #b64139;
  color: black;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.empty {
  color: #999;
}

.summary {
  display: flex;
  gap: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.summary .gain.positive {
  color: #16a34a;
}

.summary .gain.negative {
  color: #dc2626;
}
